# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app
*.sdf
*.pdb
*.ilk
*.tlog
*.idb
*.db
*.opendb
*.ipdb
*.iobj

.vs
OCR-VIDEO.sln
OCR-VIDEO.vcxproj
OCR-VIDEO.vcxproj.filters